@import "tailwindcss";

/*---------------The scrollbars styling goes here-------------------
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0b1020;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    #8b5cf6,
    #6d28d9
  );
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    to bottom,
    #a855f7,
    #7c3aed
  );
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #8b5cf6 #0b1020;
}